[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/domwagner/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/domwagner/domwagner.github.io.git
	branch = master
